body,h1,p{
    margin: unset;
    padding: unset;
}

body{
    background-image: url(images/bg.png);
}

a{
    color: unset;
    text-decoration: none;
}

.wrapper{
    width: 960px;
    margin: 0 auto;

}

.header{
    width: 960px;
    height: 200px;
    padding: 60px 0;

    box-shadow: inset 0 0 10px red;
    display: grid ;
    grid-template-columns: repeat(4,200px);
    gap: 10px;


}

.header .icon{
    display: inline-block;/* 태생이 inline level 요소인 a요소를 block level로 강제! */

    border-radius: 50%;
    color: white;
    background-color: black;
    box-shadow: inset 0 0 10px rebeccapurple;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;/*✨글자 중앙 배열*/

    

}/* CITRUS JAM 스타일 */
.header .icon.jam {
    background-image: url(images/logo.png);
    background-size: cover; /* 이미지가 요소에 맞게 크기 조정 */
    background-position: center;
}

/* lemon 스타일 */
.header .icon.lemon { /*✨헤더내부의 아이콘들 중 레몬*/
    color: yellow;
    box-shadow: inset 0 0 10px green;
}

.header .icon.lemon:hover{
    background-image: url(images/lemon.png);
}

/* orange 스타일 */
.header .icon.orange {/*✨헤더내부의 아이콘들 중 오렌지*/
    color: orange;
    box-shadow: inset 0 0 10px darkorange;
}
.header .icon.orange:hover{
    background-image: url(images/orange.png);
}

/* jamong 스타일 */
.header .icon.jamong {/*✨헤더내부의 아이콘들 중 자몽*/
    color: orangered;
    box-shadow: inset 0 0 10px red;
}
.header .icon.jamong:hover{
    background-image: url(images/jamong.png);
}

.content{
    width: 960px;
    height: 400px;
    background-color: white;
    background-image: url(images/contents-bg.png);
    padding: 50px;
    box-sizing: border-box;
}

h1{}

p{}


